.buy-and-sell-card {
  border-radius: 8px;
  border: 1px solid var(--dark-mode-card-stroke);
  background-color: var(--dark-mode-card-bg);
  padding: 8px;
  width: 23%;
}

.buy-and-sell-card .ant-tabs-tab-active {
  border: 1px solid var(--support-success) !important;
}

.buy-and-sell-card .ant-tabs > .ant-tabs-nav {
  width: 100%;
  /* width: 326px; */
}

@media (min-width: 0) and (max-width: 400px) {
  .buy-and-sell-card .ant-tabs > .ant-tabs-nav {
    width: 100%;
  }
}

@media (min-width: 0) and (max-width: 1100px) {
  .buy-and-sell-card {
    padding: 36px;
  }

  .buy-and-sell-card{
    width: 100%;
  }
}
