.buy-and-sell-card {
  border-radius: 8px;
  border: 1px solid var(--dark-mode-card-stroke);
  background-color: var(--dark-mode-card-bg);
  margin: 100px 0;
  padding: 8px;
}

.buy-and-sell-card .ant-tabs-tab-active {
  border: 1px solid var(--support-success) !important;
}

.buy-and-sell-card .ant-tabs > .ant-tabs-nav {
  width: 326px;
}

@media (min-width: 0) and (max-width: 400px) {
  .buy-and-sell-card .ant-tabs > .ant-tabs-nav {
    width: 100%;
  }
}

@media (min-width: 0) and (max-width: 992px) {
  .buy-and-sell-card {
    padding: 36px;
  }
}
