.order-and-recent-card {
  border-radius: 8px;
  border: 1px solid var(--dark-mode-card-stroke);
  background-color: var(--dark-mode-card-bg);
  padding: 8px;
  width: 27%;
}

.order-and-recent-card .ant-tabs > .ant-tabs-nav {
  /* width: 326px; */
  width: 100%;
}

@media (min-width: 0) and (max-width: 400px) {
  .order-and-recent-card .ant-tabs > .ant-tabs-nav {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .order-and-recent-card {
    padding: 36px;
  }
}

@media (min-width: 0) and (max-width: 600px) {
  .order-and-recent-card {
    padding: 8px;
  }
}
