.order-book-main-card{
  height: 100%;
}

.order-book-main-card__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.order-book-main-card__nav__item {
  cursor: pointer;
}

.order-book-main-card__nav__icon-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.order-book-main-card .ant-select-selection-item {
  color: #fff !important;
}

.order-book-main-card__select-dropdown--width {
  width: 80px !important;
}

.order-book-main-card__nav__item > p {
  color: var(--secondary-black-tint-3);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.order-book-main-card__nav__item--active {
  padding: 11px 10px;
  border-radius: 4px;
  background: #353945;
}

.order-book-main-card__nav__item--active > p {
  color: #fff !important;
}
